:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
	--font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}



body {
	font-family: "Roboto", sans-serif;
	background: var(--white);	
	color: #434455;
}

.top-line{
	background: var(--white);
	
}

.logo{
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;

}

.web{
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 18px;
	
	/* line-height: 21px; */ 
	line-height: 1.16667;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris);
}

.studio{
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 18px;
	
	/* line-height: 21px; */ 
	line-height: 1.16667;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--navy-blue);
}

span {
	color: #2e2f42;
}


.nav-manu> li a{
	font-family: var(--font-family);
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--navy-blue);
}

.nav-link {
	font-family: var(--font-family);
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--navy-blue);
}

.nav-link:hover {
	color: #404bbf
}

.nav-link:focus {
	color: #404BBF;
}



.contacts-tel-mail> li a{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.tel-mail {
	font-style: normal;
	
}

.contacts-tel-mail> li a{
	color: #404bbf
}

.contacts-tel-mail> li a{
	color: #404bbf
}

.hero-effective{
    background: var(--navy-blue);
}

.text-hero{
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 56px;
	
	/* line-height: 60px; */ 
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--white);
}

.knopka{

    background: var(--iris);
	font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;

/* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
	cursor: pointer;
}
.knopka:hover {
	background-color: #404BBF;
}

.knopka:focus {
	background-color: #404BBF;
}



.strengths{
	font-family: var(--font-family);
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42
}

.strengths-stra-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.section-3-team {
	font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
text-align: center;
text-transform: capitalize;

/* line-height: 40px; */ 
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--navy-blue);
}

.team-team li img {
	background-color: #ffffff;
}

.section-3 {
	background-color: #f4f4fd;

}

.section-4-our{
	font-size: 36px;
	line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.images-foto{
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.images-foto-p{
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;

}