:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
	--font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}



body {
	font-family: "Roboto", sans-serif;
	background: var(--white);	
	color: #434455;
}

.top-line{
	background: var(--white);
	
}

.logo{
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
justify-content: flex-start;
text-decoration: none;
}

.web{
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 18px;
	
	/* line-height: 21px; */ 
	line-height: 1.16667;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris);
}

.studio{
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 18px;
	
	/* line-height: 21px; */ 
	line-height: 1.16667;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--navy-blue);
}

.menu-nav{
justify-content: flex-start;
flex-direction: row;
}

.menu-nav> li a{
	font-family: var(--font-family);
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--navy-blue);
}

address ul li a{
	font-family: var(--font-family);
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}

.hero-image{
    background: var(--navy-blue);
}

.text-hero{
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 56px;
	
	/* line-height: 60px; */ 
	line-height: 1.07143;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--white);
}

.knopka{

	justify-content: flex-start;
	flex-direction: row;
	
   
    background: var(--iris);
	font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;

/* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
}



.feature-1{

    justify-content: flex-start;
    flex-direction: column;
}
.feature-1 h3{
	font-family: var(--font-family);
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
}

.feature-1 p{
	font-family: var(--font-family);
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}

.section2{
	
	background: var(--cloud);
}

.team {
	font-family: var(--font-family);
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: var(--navy-blue);
}